**/build
**/.gradle
.idea
*.iml
*.bat
**/msvc/Debug*
**/msvc/Release*
**/msvc/*.sdf
**/msvc/*.opensdf
**/msvc/*.user
**/msvc/*.suo
**/msvc/*.db
**/msvc/*.opendb
**/msvc/*.txt
**/msvc/*.aps
**/msvc/.vs
**/msvc/START*.bat
**/msvc/ipch
**/PublishPath*.txt
**/*.log

publish
**/appversion.h
**/reapi_version.inc
